/*font imports */
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Playpen+Sans:wght@100..800&display=swap");

body {
  /* body still works for the entire page even if you use react */

  /* free use custom gradient from source mentioned in README i could have built it but it was already done before.*/
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;

  
  color: #3a3a3a;
  font-family: "Happy Monkey";
  font-size: 20px;
}

.pageName {
  text-align: center;
  margin: 20px auto; /* auto  distributes the left and right evenly */
  width: 40vw;
  padding: 4px;
  background-color: #aac0f0;
  font-family: "Playpen Sans";

  /* font-family:; */
}
.tagline {
  text-align: center;
  font-style: italic;
  color: #7f6a93;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 40vw;
  padding: 20px;
  background-color: #9eafe8;
}
button {
  background-color: #858fd0;
  border-radius: 8px;
  padding: 8px;
  margin:8px;
  border: none;
  box-shadow: 0 4px 8px #2a2a3c;
  transition: background-color 1s ease;
}
button:hover {
  background-color: #a0adff;
}
.nameDate {
  display: flex;
  gap: 88px; /*gap adds space between the 2 items in the div! */
  margin: 20px;
  padding: 12px;
}
input,
textarea {
  border: none;
  border-radius: 8px;
  padding: 8px;
}
textarea {
  border-radius: 12px;
  margin-bottom: 8px;
}
.pageBody {
  background-color: #aac0f0;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px auto;
}
ul {
  list-style-type: none;
}
.navbar {
  background-color: #93a0de;
  font-size: 32px;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  margin-left: 124px;
  margin-top: 44px;
  margin-bottom: 40px;
  width: 80vw;
}
li {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px #2a2a3c;
  font-size: 18px;
  padding: 10px;
  margin: 20px;
  margin-left: -20px; /* this was annoying*/
}
.userBox {
  width: 20vw;
  height: 16vh;
  margin: 28px;
}

.pageBody,
.options,
.pageName,
.navbar {
  box-shadow: 0 4px 8px #2a2a3c;
  border-radius: 12px;
}
